@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {background-image: linear-gradient(to right,#ABC8E2, #C4D7ED );

}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(17, 35, 58, 0.658);
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3a74c0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(13, 26, 43, 0.767);
}

h2 {
    color: #425669;
}

p {
    text-align: justify;
}